[Unit]
Description=Neovim headless server
After=default.target

[Service]
Type=simple
Environment="NVIM_SERVER_MODE=1"
ExecStart=%h/.local/bin/nvim-1 serve
ExecStopPost=%h/.local/bin/nvim-1 cleanup

Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
