[Unit]
Description=Neovim headless server
After=default.target

[Service]
Type=simple
ExecStart=%h/.local/bin/nvimd serve
ExecStopPost=%h/.local/bin/nvimd cleanup

Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
