build --workspace_status_command=tools/workspace_status.sh
build --show_progress --show_loading_progress --show_progress_rate_limit=60.0

build:check --all_incompatible_changes

build:ci --incompatible_disable_deprecated_attr_params
build:ci --all_incompatible_changes
build:ci --announce_rc
build:ci --discard_analysis_cache
build:ci --genrule_strategy=standalone
build:ci --jobs=1
build:ci --local_resources=1024,1.0,0.8
build:ci --nouse_action_cache
build:ci --sandbox_debug
build:ci --spawn_strategy=standalone
#build:ci --subcommands=pretty_print
build:ci --verbose_failures
common:ci --color=no
common:ci --python_top=//python:py2
test:ci --test_output=errors
test:ci --test_strategy=standalone
