common --python_path=/usr/bin/python2
build --show_loading_progress
build --show_progress
build --show_progress_rate_limit=60.0
build --verbose_failures
build --workspace_status_command=tools/workspace_status.sh
test --test_output=errors

build:check --all_incompatible_changes

build:ci --announce_rc
build:ci --discard_analysis_cache
build:ci --genrule_strategy=standalone
build:ci --jobs=1
build:ci --local_resources=1024,1.0,0.8
build:ci --nouse_action_cache
build:ci --sandbox_debug
build:ci --spawn_strategy=standalone
common:ci --color=no
test:ci --test_strategy=standalone
