[alias]
	st = status -s
	ci = commit
	ca = commit -a
	glog = log --oneline --decorate --graph
	tags = tag -l
	man = ls-files
	bare = config --bool core.bare true
[format]
	pretty = format:"%h:%p %d %ai %ce%n  %s%n"
[core]
	editor = giteditor
[url "git@github.com:"]
	insteadOf = gh:
[url "will@meta.lfod.us:share/git/"]
	insteadOf = code:
