[alias]
	pr = pull-request
	st = status -s
	ci = commit
	ca = commit -a
	glog = log --oneline --decorate --graph
	tags = tag -l
	man = ls-files
	bare = config --bool core.bare true
	review = merge --no-ff --no-commit
	ctags = "!sh -c '[ -f .git/hooks/ctags ] || git init; .git/hooks/ctags' git-ctags"
[core]
  editor = emacsclient -s master
[format]
	pretty = format:"%h %p %d %ai %ce%n  %s%n"
[url "git@github.com:"]
	insteadOf = gh:
[url "git@github.com:monitorama/"]
  insteadOf = monitorama:
[url "git@github.com:SimpleFinance/"]
  insteadOf = sf:
[url "git@github.banksimple.com:"]
	insteadOf = bh:
[url "git@github.banksimple.com:BankSimple/"]
	insteadOf = bs:
[url "git@github.banksimple.com:backend/"]
	insteadOf = backend:
[url "git@github.banksimple.com:sec/"]
	insteadOf = sec:
[url "git@github.banksimple.com:ops/"]
	insteadOf = ops:
[url "git@github.banksimple.com:ops/chef-"]
	insteadOf = chef:
[url "git@github.banksimple.com:cookbooks/"]
  insteadOf = cook:
[url "will@meta.lfod.us:share/git/"]
	insteadOf = code:
[push]
	default = current
[pull]
	fast-forward = true
[init]
	templatedir = ~/.gitconf/init
[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
[hub]
	host = github.banksimple.com
[merge]
	tool = emerge
