.config/git/local
.Trash/
.bash_history
.bash_logout
paste.*
.config/shellinit
.bashrc
.cache/
.claude.json
.claude.json.backup
.claude/.credentials.json
.claude/plugins/known_marketplaces.json
.claude/projects/
.claude/shell-snapshots/
.claude/session-logger/
.claude/statsig/
.claude/todos/
.claude/history.jsonl
.conda/
.config/vscode-dev-containers/
.docker
.dotnet
.hugo/
.jupyter/
.lesshst
.local/bin/claude
.local/bin/debugpy
.local/bin/lua-shimlink
.local/bin/debugpy-adapter
.local/bin/f2py
.local/bin/fonttools
.local/bin/git-*
.local/bin/hg-*
.local/bin/httpx
.local/bin/ipython*
.local/bin/isympy
.local/bin/jlpm
.local/bin/jsonpointer
.local/bin/jsonschema
.local/bin/jupyter*
.local/bin/nbdiff
.local/bin/nbdiff-web
.local/bin/nbdime
.local/bin/nbmerge
.local/bin/nbmerge-web
.local/bin/nbshow
.local/bin/normalizer
.local/bin/numpy-config
.local/bin/plotly_get_chrome
.local/bin/pybabel
.local/bin/pyftmerge
.local/bin/pyftsubset
.local/bin/pygmentize
.local/bin/pyjson5
.local/bin/send2trash
.local/bin/torchfrtrace
.local/bin/torchrun
.local/bin/ttx
.local/bin/wsdump
.local/etc/
.local/lib/*goose
.local/share/
.local/state/
.maven/
.npm/
.nvs/
.oh-my-zsh/
.php/
.profile
.python/
.rbenv/
.ruby/
.rvmrc
.ssh/
.viminfo
.vscode-remote/
.zcompdump*
.zsh_history
.zshrc
java
nvm
.CFUserTextEncoding
.Projects/
.bash_profile
.bash_sessions/
.bazel_binaries/
.bundle-gemfile-hook
.bundle/
.cache*
.config/configstore/
.config/direnv/
.config/gh/
.config/goose/
.config/karabiner/automatic_backups/
.config/op/
.config/raycast/
.config/ruff/
.cursor/
.fetch-gpg-keys-timestamp
.gem/
.gk/
.gnupg/
.gooserc.json
.ipython/
.jira.d/
.local/bin/_shiv*
.local/bin/llm
.local/bin/notebook
.local/bin/pipeline
.local/bin/python*
.local/pipx/
.matplotlib/
.nodenv/
.npmrc
.nvm/
.observablehq
.pay/
.pyenv/
.python*
.rbenv*
.rbenv
.sc*
.secureConnect/
.semgrep/
.space-commander/
.sqlite_history
.stripe*
.terraform.d/
.vscode/
.wget*
.yarnrc
.zsh_sessions/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Remarkable/
go/
obsidian/
stripe/
.config/dev-runner/
.config/systemd/
!.config/systemd/user/nvim*
.cursor*
.gitconfig-devbox
.remote_default_bashrc_appendix.sh
.remote_default_bashrc_preamble.sh
.sentinels/
.vscode*
dotfiles/
metadata.yaml
.terminfo
.flyte
.sparkmagic
.ecr
.intellij
.mongodb
.config/gocode
