.bash_history
.bash_logout
.bashrc
.cache/
.claude.json
.claude.json.backup
.claude/.credentials.json
.claude/projects/
.claude/shell-snapshots/
.claude/statsig/
.claude/todos/
.conda/
.config/vscode-dev-containers/
.docker
.dotnet
.hugo/
.jupyter/
.lesshst
.local/bin/debugpy
.local/bin/debugpy-adapter
.local/bin/f2py
.local/bin/fonttools
.local/bin/git-nbdiffdriver
.local/bin/git-nbdifftool
.local/bin/git-nbmergedriver
.local/bin/git-nbmergetool
.local/bin/hg-nbdiff
.local/bin/hg-nbdiffweb
.local/bin/hg-nbmerge
.local/bin/hg-nbmergeweb
.local/bin/httpx
.local/bin/ipython
.local/bin/ipython3
.local/bin/isympy
.local/bin/jlpm
.local/bin/jsonpointer
.local/bin/jsonschema
.local/bin/jupyter
.local/bin/jupyter-dejavu
.local/bin/jupyter-events
.local/bin/jupyter-execute
.local/bin/jupyter-kernel
.local/bin/jupyter-kernelspec
.local/bin/jupyter-lab
.local/bin/jupyter-labextension
.local/bin/jupyter-labhub
.local/bin/jupyter-migrate
.local/bin/jupyter-nbconvert
.local/bin/jupyter-run
.local/bin/jupyter-server
.local/bin/jupyter-troubleshoot
.local/bin/jupyter-trust
.local/bin/nbdiff
.local/bin/nbdiff-web
.local/bin/nbdime
.local/bin/nbmerge
.local/bin/nbmerge-web
.local/bin/nbshow
.local/bin/normalizer
.local/bin/numpy-config
.local/bin/plotly_get_chrome
.local/bin/pybabel
.local/bin/pyftmerge
.local/bin/pyftsubset
.local/bin/pygmentize
.local/bin/pyjson5
.local/bin/send2trash
.local/bin/torchfrtrace
.local/bin/torchrun
.local/bin/ttx
.local/bin/wsdump
.local/etc/
.local/lib/
.local/share/
.local/state/
.maven/
.npm/
.nvs/
.oh-my-zsh/
.php/
.profile
.python/
.rbenv/
.ruby/
.rvmrc
.ssh/
.viminfo
.vscode-remote/
.zcompdump*
.zprofile
.zsh_history
java
nvm
