[alias]
	pr = pull-request
	ph = push -q
	pl = pull -q
	st = status -sb --porcelain -uno
	ci = commit -v --status -uno
	ca = commit -av
	ce = "!git add -e . && git commit -v"
	man = ls-files
[core]
	editor = ~/bin/e
	excludesfile = ~/.gitconf/ignore
	pager = cat
[format]
	pretty = format:"%h %p %d %ai %ce%n  %s%n"
[url "https://github.com/"]
	insteadOf = gh:
[url "https://github.com/"]
	insteadOf = git://github.com/
[push]
	default = current
[pull]
	fast-forward = true
	rebase = true
[init]
	#templatedir = ~/.gitconf/init
[remote "origin"]
	fetch = +refs/pull/*/head:refs/pull/origin/*
[hub]
	host = github.com
[merge]
	tool = emerge
	conflictstyle = diff3
[github]
	user = whilp
[remote]
	pushDefault = origin
[user]
	email = wcmaier@gmail.com
	name = Will Maier
[man]
	viewer = cat
[man "cat"]
	cmd = man -P cat
[color]
	ui = false
[credential]
	helper = cache --timeout=86400
