set editing-mode vi
set keymap vi-command
# For vi-command mode
"j": history-search-forward
"k": history-search-backward
set keymap vi-insert
# For vi-insert mode
"\e[A": history-search-backward
"\e[B": history-search-forward

# ctrl-a and ctrl-e muscle memory
"\C-a": beginning-of-line
"\C-e": end-of-line

#set completion-ignore-case On
set completion-query-items 250
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set skip-completed-text on
