UXTerm*metaSendsEscape: true
UXTerm*visualBell: false
UXTerm*bellIsUrgent: true
UXTerm*faceName: DejaVu Sans Mono
UXTerm*faceSize: 10
UXTerm*charClass: 33:48,35-39:48,42-43:48,45-47:48,58:48,61:48,63-64:48,126:48
UXTerm*loginShell: true
UXTerm*saveLines: 2000
UXTerm*scrollBar: false
UXTerm*pointerMode: 1
UXTerm*termName: xterm
UXTerm*geometry: 159x56+0+0
UXTerm*VT100.translations: #override \n\
     <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
     Ctrl<KeyPress>V: insert-selection(SELECT, PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
     Ctrl<KeyPress>Y: string("")
