! xterm
XTerm*scrollBar:	false
XTerm*saveLines:	10000
XTerm*vt100.metaSendsEscape: true
XTerm.termName:		xterm-color
XTerm*font:		    -xos4-terminus-medium-*-*-*-24-*-*-*-*-*-*-*
XTerm*background:	#eeeeee
XTerm*foreground:	#000000
! black
XTerm*color0:		#000000
! red
XTerm*color1:		#ff3300
! green
XTerm*color2:		#00ff66
! yellow
XTerm*color3:		#ffff33
! blue
XTerm*color4:		#0066cc
! magenta
XTerm*color5:		#993399
! cyan
XTerm*color6:		#009999
! gray
XTerm*color7:		#cccccc
! darkgray
XTerm*color8:		#333333
! lightred
XTerm*color9:		#ff9999
! lightgreen
XTerm*color10:		#99ff99
! lightyellow
XTerm*color11:		#ffff99
! lightblue
XTerm*color12:		#3399ff
! lightmagenta
XTerm*color13:		#cc66cc
! lightcyan
XTerm*color14:		#33cccc
! white
XTerm*color15:		#ffffff
! misc
Xft.dpi: 		75
