XTerm*visualBell: false
XTerm*bellIsUrgent: true
XTerm*faceName: Inconsolata
XTerm*faceSize: 12
XTerm*cutchars: `"'()*,;<>[]{|}
XTerm*loginShell: true
XTerm*saveLines: 2000
XTerm*scrollBar: false
XTerm*charClass: 33:48,37:48,45-47:48,58:48,61:48,63-64:48,126:48
