<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.nvim</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/wcm/.local/bin/nvimd</string>
        <string>serve</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/wcm</string>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/nvim-service.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/nvim-service-error.log</string>
</dict>
</plist>
