name: Check logs

on:
  workflow_run:
    workflows: ["*"]
    types: [completed]

permissions:
  pull-requests: write
  checks: read
  actions: read

jobs:
  update-logs:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.event == 'pull_request'
    steps:
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Update check logs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_HEAD_REF: ${{ github.event.workflow_run.head_branch }}
          GITHUB_SHA: ${{ github.event.workflow_run.head_sha }}
        run: make check-logs
