name: Build home

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Bootstrap lua
        run: make bootstrap

      - name: Run checks
        run: make check

      - name: Run tests
        run: make test -j4

      # TODO: add home-all and lua-all for multi-platform builds
      - name: Build home binary
        run: make home

