ChallengeResponseAuthentication no
PasswordAuthentication no
PermitRootLogin yes
ChallengeResponseAuthentication no
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
AuthorizedKeysFile /secrets/ssh/user.pub
HostKey /secrets/ssh/host
